phpipam.url = http://example
phpipam.app_id = myapp
phpipam.username = admin
phpipam.password = secret
phpipam.dev_id = 1
phpipam.np_utility_id = 2
phpipam.qa_id = 3
phpipam.prod_id = 4
phpipam.dr_id = 5
domain.dev1 = dev1.lokal
domain.dev2 = dev2.lokal
domain.np_utility = infra.lokal
domain.qa1 = qa1.lokal
domain.qa2 = qa2.lokal
domain.prod = wallet.lokal
domain.dr = dr.lokal
h2.url = jdbc:h2:/opt/jetty/bastillion;CIPHER=AES;
h2.user = admin
h2.pass = secret